# HTTP Server configuration
HTTP_PORT=8088                      # Port for the Go application (matches APP_PORT from previous .env)
DB_PORT=5432                        # Container port
DB_HOST_PORT=54321                  # Host port

# Logger configuration
LOG_LEVEL=info                      # Log level for the application (can be set to debug, warn, error, etc.)

# Existing variables for use in DB_URI interpolation
DB_DATABASE=postgres                # Database name
DB_USER=postgres                    # Database username
DB_PASSWORD=postgres                # Database password
DB_HOST=db                          # Database host as per Docker Compose service name

# Database URI
DB_URI=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}